site_name: RealPaver documentation
site_url: https://pages.gitlab.univ-nantes.fr/realpaver
theme:
  name: material
  favicon: img/favicon.ico
  logo: img/logo.svg

markdown_extensions:
  - attr_list
  - md_in_html
  - tables
  - footnotes
  - pymdownx.blocks.caption
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true

extra:
  version:
    provider: mike

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css

plugins:
  - search
  - mkdoxy:
      projects:
        api: # name of project must be alphanumeric + numbers (without spaces)
          src-dirs: ../src # path to source code (support multiple paths separated by space) => INPUT
          #template-dir: template-custom
          full-doc: True # if you want to generate full documentation
          #doxy-cfg-file: docs/api/Doxyfile
          doxy-cfg: # standard doxygen configuration (key: value)
            FILE_PATTERNS: "*.cpp *.h*" # specify file patterns to filter out
            RECURSIVE: True # recursive search in source directories
      save-api: .mkdoxy
      full-doc: True
      debug: False
      ignore-errors: False

nav:
  - Home: index.md
  - User documentation:
      - How to install: userdoc/install.md
      - Introduction to interval computations: userdoc/interval.md
      - How to solve a constraint satisfaction problem: userdoc/solve_csp.md
      - Modeling language: userdoc/language.md
      - Parameters: userdoc/parameters.md
  - API:
      - "api/index.md"
      - "Links": "api/links.md"
      - "Classes":
          - "Class List": "api/annotated.md"
          - "Class Index": "api/classes.md"
          - "Class Hierarchy": "api/hierarchy.md"
          - "Class Members": "api/class_members.md"
          - "Class Member Functions": "api/class_member_functions.md"
          - "Class Member Variables": "api/class_member_variables.md"
          - "Class Member Typedefs": "api/class_member_typedefs.md"
          - "Class Member Enumerations": "api/class_member_enums.md"
      - "Namespaces":
          - "Namespace List": "api/namespaces.md"
          - "Namespace Members": "api/namespace_members.md"
          - "Namespace Member Functions": "api/namespace_member_functions.md"
          - "Namespace Member Variables": "api/namespace_member_variables.md"
          - "Namespace Member Typedefs": "api/namespace_member_typedefs.md"
          - "Namespace Member Enumerations": "api/namespace_member_enums.md"
      - "Functions": "api/functions.md"
      - "Variables": "api/variables.md"
      - "Macros": "api/macros.md"
      - "Files": "api/files.md"
  - About: about.md
